/* font system */

@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700|Open+Sans:300,700');

a,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Comfortaa, Arial, Helvetica, sans-serif;
    font-weight: 700;
}

p{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 300;
}

/* variable */

:root {
    --primary: #33F7FD;
    --secondary: #360A96;
    --dark: #172085;
    --light: #fff;
    --shadow: 0 4px 16px rgba(23, 32, 133, 0.8);
}

html {
    box-sizing: border-box;
}

body {
    background: #B5DCFC;
    margin: 16px 50px;
    line-height: 1.5;
}

.btn {
    background: var(--secondary);
    color: var(--light);
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
    text-decoration: none;
    border: 0;
}

.btn2 {
    background: var(--light);
    color: var(--secondary);
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
    text-decoration: none;
    border: 0;
}

img {
    max-width: 100%;
}

.wrapper {
    display: grid;
    grid-gap: 16px;
}

/* navigation */

.navbar ul {
    display: grid;
    grid-gap: 16px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
}

.navbar a {
    background: var(--secondary);
    display: block;
    text-decoration: none;
    padding: 0.5rem;
    text-align: center;
    color: var(--primary);
    text-transform: uppercase;
    font-size: 1rem;
    box-shadow: var(--shadow);
    border-radius: 8px;
}

.navbar a:hover {
    background: var(--light);
    color: var(--secondary);
}

/* top container */

.top-container{
    display: grid;
    grid-gap: 16px;
    grid-template-areas: 
    "showcase showcase top-box-a"
    "showcase showcase top-box-b"
}

.showcase{
    grid-area: showcase;
    min-height: 400px;
    background: linear-gradient( rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5) ),url(image/alexander-andrews-478911-unsplash.jpg);
    background-size: cover;
    background-position: center;    
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: var(--shadow);
    border-radius: 16px;
    color: var(--light);
}

.showcase h1{
    font-size: 4rem;
    margin-bottom: 0;
}

.showcase p{
    margin-top: 0;
}

/* top box */

.top-box{
    background: var(--dark);
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: var(--shadow);
    padding: 1rem;
    border-radius: 16px;
    color: var(--light);
}

.top-box .price{
    font-size: 2.5rem;
}

.top-box-a{
    grid-area: top-box-a;
}

.top-box-b{
    grid-area: top-box-b;
}

/* card section */
.boxes{
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 1rem 0;
}

.box{
    background: var(--light);
    text-align: center;
    padding: 1rem 2rem;
    box-shadow: var(--shadow);
    border-radius: 16px;
}

/* info section */
.info{
    background: var(--dark);
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    color: var(--light);
    margin: 0 0 1rem 0;
}

.info div{
    padding: 1rem;
}

/* portfolio */
.portfolio{
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.portfolio img{
    width: 100%;
    box-shadow: var(--shadow);
}

/* footer */
footer{
    margin-top: 2rem;
    background: var(--dark);
    color: var(--light);
    text-align: center;
}

/* media queries */

@media(max-width: 700px){
    .top-container{
        grid-template-areas: 
        "showcase showcase"
        "top-box-a top-box-b"
    }

    .showcase h1{
        font-size: 2.5rem;
    }

    .navbar ul{
        grid-template-columns: 1fr;
    }

    .top-container .btn2{
        display: block;
        text-align: center;
        margin: auto;
    }

    .info{
        grid-template-columns: 1fr;
    }

    .info div{
        margin: 1rem;
    }

    .info .btn2{
        display: block;
        text-align: center;
        margin: auto;
    }

}

@media(max-width: 500px) {
    .top-container{
        grid-template-areas: 
        "showcase"
        "top-box-a"
        "top-box-b";
    }

}

/* keyframes */

@keyframes easyLoad{
    0%{
        transform: rotate(0) translateY(-10%);
        opacity: 0;
        }
    100%{
        transform: rotate(0) translateY(0);
        opacity: 1;
        }
}

.navbar{
    animation: easyLoad 2.5s forwards 0s ease;
}

@keyframes easyLeft{
    0%{
        transform: rotate(0) translateX(-10%);
        opacity: 0;
        }
    100%{
        transform: rotate(0) translateX(0);
        opacity: 1;
        }
}

.showcase{
    animation: easyLeft 2.5s forwards 0s ease;
}

@keyframes easyRight{
    0%{
        transform: rotate(0) translateX(10%);
        opacity: 0;
        }
    100%{
        transform: rotate(0) translateX(0);
        opacity: 1;
        }
}

.top-box{
    animation: easyRight 2.5s forwards 0s ease;
}